body {
  margin: 0;
  padding: 0;
  background-color: rgba(17, 96, 69, 0.4);
  font-family: 'Press Start 2P', cursive;
}

canvas {
  position: absolute;
}

.left-side {
  border: 1px solid black;
}

.canvas-div {
  display: flex;
  justify-content: center;
  grid-column: 2 / 3;
  position: relative;
  margin: 0;
}

.canvas-blur {
  filter: blur(2px);
}

.hearts-col {
  margin: 0;
  padding-bottom: 30px;
  font-size: 9px;
  color: #a8c65e;
  text-align: center;
  background-color: #333;
  border: 4px solid #999;
  border-radius: 5px;
  box-shadow: 0px 0px 30px 1px #111 inset;
}

.heart {
  height: 50px;
  width: 50px;
}

.heart-show {
  visibility: visible;
}

.heart-hidden {
  visibility: hidden;
}

.damaged {
  opacity: .3;
}

.hearts-col label {
  margin: 0;
}

.checkboxes {
  display: block;
  margin: 10px auto;
  height: 15px;
  width: 15px;
}

.grow-button {
  animation: grow 3.5s infinite;
}

#grid-main {
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  grid-template-rows: auto;
}

#game-num {
  font-weight: bold;
}

#score-num {
  font-weight: bold;
}

#background-map {
  background: transparent;
  z-index: 1;
}

#enemy-map {
  background: transparent;
  z-index: 50;
}

#death-canvas {
  background: rgba(235, 44, 18, 0.56);
  opacity: 0;
  z-index: 70;
}

#explosion-canvas {
  background: transparent;
  z-index: 30;
}

#sprite-map {
  background: transparent;
  z-index: 100;
}

#invincible {
  margin-bottom: 10px;
}

#start-game {
  border-color: 2px solid #555;
  border-radius: 3px;
  background-color: #222;
  font-family: 'Press Start 2P';
  color: white;
  cursor: pointer;
  padding: 9px 7px;
  box-shadow: 0 0 2px 1px #afd433, -1px -1px 3px #999 inset;
}

@keyframes grow {
  38% {transform: scale(1.2) rotate(9deg);
      box-shadow: 0 0 2px 1px #afd433,
       -1px -1px 3px #999 inset, 0 0 15px 3px #111;}
  62% {transform: scale(1.2) rotate(-9deg);
     box-shadow: 0 0 2px 1px #afd433,
      -1px -1px 3px #999 inset, 0 0 15px 3px #111;}

}
